[flake8]
max-line-length = 127
exclude = 
    .git,
    __pycache__,
    venv,
    env,
    .venv,
    build,
    dist,
    .eggs,
    *.egg-info

ignore = 
    E203,
    E266,
    W503,

max-complexity = 10
